$layout-bp-xs: 30em;  //  480px
$layout-bp-s:  37.5em;  //  600px
$layout-bp-m:  64em; // 1024px
$aside-width:  13em;

body {
    margin: 0;
    padding: 0;
}

.layout__container,
.layout__header,
.layout__main,
.layout__aside {
    box-sizing: border-box;
}

.layout__container {
    padding: 0 .625em;
    @media (min-width: $layout-bp-xs) {
        padding: 0 1.25em;
    }
    @media (min-width: $layout-bp-m) {
        max-width: $layout-bp-m;
        margin: 0 auto;
    }
}

.layout__main,
.layout__aside {
    padding: 0 .3125em;
    @media (min-width: $layout-bp-xs) {
        padding: .3125em 1.25em;
    }
    margin-bottom: 1.25em;
}

.layout__container_has-aside {
    @media (min-width: $layout-bp-m) {
        padding-left: $aside-width;
    }

    .layout__header {
        margin-left: -$aside-width;
    }
    .layout__main {
        @media (min-width: $layout-bp-xs) {
            border: 1px solid $color-ae-white;
            border-radius: .125em;
        }
        @media (min-width: $layout-bp-m) {
            float: right;
        }
    }
}

.layout__aside {
    display: none;
    @media screen and (min-width: $layout-bp-m) {
        display: block;
        float: left;
        width: $aside-width;
        margin-left: -$aside-width;
    }
}
