//
// Base font size and scaling
//
html {
    font-size: 16px;
}

@media (min-width: 600px) and (max-width: 1024px) {
    html {
        font-size: calc( 16px + (20 - 16) * ( (100vw - 600px) / ( 1024 - 600) ));
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}

//
// Font stacks
//
body {
    font-family: Lato, 'Open Sans', Verdana, sans-serif;
    line-height: 1.4;
    color: #444;
}
pre, code,
pre code {
    font-family: 'Ubuntu Mono', Monaco, Consolas, 'Courier New', monospace;
}

//
// Headings
//
h1, h2, h3, h4, h5, h6 {
    padding-left: .4em;
    border-left: 8px solid $color-ae-normal;
}

//
// Links
//
a[href] {
    color: $color-ae-dark;
}

//
// Code
//
code {
    padding: .125em .3125em .1875em;
    border: 1px solid $color-ae-white;
    border-radius: .1875em;
    background: lighten($color-ae-white, 2%);
    font-weight: normal;
}
pre code {
    display: block;
    overflow-x: scroll;
    padding: .5em .75rem;
    border-radius: .3125em;
    font-size: .875em;
    line-height: 1.3;
}
