<figure class="example-figure" role="group">
    <figcaption class="example-figure__caption">Example of argus eyes visual regression testing</figcaption>
    <figure class="figure-part" role="group">
        <figcaption class="figure-part__caption">baseline</figcaption>
        <img src="/static/img/nav-menu-1.png">
    </figure>
    <figure class="figure-part" role="group">
        <figcaption class="figure-part__caption">current</figcaption>
        <img src="/static/img/nav-menu-2.png">
    </figure>
    <figure class="figure-part" role="group">
        <figcaption class="figure-part__caption">diff</figcaption>
        <img src="/static/img/nav-menu-3.png">
    </figure>
</figure>
