<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Argus Eyes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,400italic,700,700italic|Ubuntu+Mono:400,400italic,700">
    <link rel="stylesheet" href="/static/css/all.css">
    {% include '_favicon.html' %}
</head>
<body>

    <div class="layout__container">
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
    </div>

</body>
</html>
