{% extends '_layout.html' %}
{% import '../components/nav-main/nav-main.html' as navMain %}

{%- block header %}
    <header class="layout__header">
        {{ navMain.nav('home', 'home') }}
    </header>
{% endblock -%}

{%- block main %}
    <main class="layout__main">
        {% include '../components/hero/hero.html' %}
        <article>
            <h1>Overview</h1>
            {{ markdown(readme.overview) }}
            {{ markdown(readme.introduction) }}
            <h2>Example</h2>
            {% include '../components/example-figure/example-figure.html' %}
            {{ markdown(readme.authors) }}
        </article>
    </main>
{% endblock -%}
