.nav-aside {

    ol {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        display: block;
    }

    a[href] {
        display: block;
        padding: .125em 0;
        border-left: 2px solid transparent;
        text-decoration: none;
        font-weight: 400;

        color: #b3b3b3;
        &:hover,
        &:active {
            border-left-color: $color-ae-normal;
            color: inherit;
        }
    }

    .nav-aside_lvl1 a { padding-left: .5em; }
    .nav-aside_lvl2 a { padding-left: 1em; }
    .nav-aside_lvl3 a { padding-left: 1.5em; }
}
